{% extends 'base.html' %}

{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/service.css' %}">

    <div class="wrapper">
        <div class="container">
            <ul class="slider">
                <li class="item">
                    <img src="media/ppt/1.jpg" style="max-width: 100%; height: 100%;">
                </li>
                <li class="item">
                    <img src="media/ppt/2.jpg" style="max-width: 100%; height: 100%;">
                </li>
                <li class="item">
                    <img src="media/ppt/3.jpg" style="max-width: 100%; height: 100%;">
                </li>
                <li class="item">
                    <img src="media/ppt/4.jpg" style="max-width: 100%; height: 100%;">
                </li>
                <li class="item">
                    <img src="media/ppt/5.jpg" style="max-width: 100%; height: 100%;">
                </li>
                <li class="item">
                    <img src="media/ppt/6.jpg" style="max-width: 100%; height: 100%;">
                </li>
            </ul>
        </div>
        <div class="btn">
            <a class="prev" style="text-decoration: none;">&#10094;</a>
            <a class="next" style="text-decoration: none;">&#10095;</a>
        </div>
    </div>
    <script src="{% static 'js/slide.js' %}"></script>

{% endblock %}