.AWS_logo {
    font-family: 'Fredoka One', cursive;
}

a
{
    text-decoration: none;
    color: black;
}
a:hover
{
    color: black;
}

@media screen and (max-width: 500px) {

    html{
        font-size: 13px;
    }

}